/*
 * ng-ngrid
 * https://github.com/nikhilogic/ngNGrid

 * Version: 1.0
 * License: MIT
 */
.ngngrid-scroll {
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.ngngrid-animaterow {
    -moz-animation: animate_bg 2500ms;
    -o-animation: animate_bg 2500ms;
    -webkit-animation: animate_bg 2500ms;
    animation: animate_bg 2500ms;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

@-moz-keyframes animate_bg {
    0% {
        background-color: #428bca;
    }

    25% {
        background-color: #5bc0de;
    }

    50% {
        background-color: #5cb85c;
    }

    75% {
        background-color: #f0ad4e;
    }

    100% {
        background-color: #d9534f;
    }
}

@-webkit-keyframes animate_bg {
    0% {
        background-color: #428bca;
    }

    25% {
        background-color: #5bc0de;
    }

    50% {
        background-color: #5cb85c;
    }

    75% {
        background-color: #f0ad4e;
    }

    100% {
        background-color: #d9534f;
    }
}

@keyframes animate_bg {
    0% {
        background-color: #428bca;
    }

    25% {
        background-color: #5bc0de;
    }

    50% {
        background-color: #5cb85c;
    }

    75% {
        background-color: #f0ad4e;
    }

    100% {
        background-color: #d9534f;
    }
}

.ngngrid-dropdown {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}


.ngngrid-caret-left {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: middle;
    width: 0;
}

.ngngrid-caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: middle;
    width: 0;
}

.ngngrid-animate-show {    
    opacity: 1;
}

.ngngrid-animate-show.ng-hide-add.ng-hide-add-active,
.ngngrid-animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.ngngrid-animate-show.ng-hide {        
        
    opacity: 0;        
}
