<!DOCTYPE html>
<html>
<head>
    <title>ngNGridDemo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./Css/ng-ngrid.css">
</head>
<body>

    <div ng-app="NgNgridApp" style="width:100%;overflow-y:visible;overflow-x:visible">
        <div ng-controller="HomeController" ng-init="colspan=2;runMode=true">
                     

            <div class="row">
                <div class="col-md-{{colspan}}">
                    <button type="button" class="btn btn-success btn-sm" ng-click="exportScript()">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        Download Column Definition Script
                    </button>
                    <button type="button" class="btn-sm btn {{runMode?'btn-info':'btn-primary'}}" ng-click="runMode = !runMode">
                        <span class="glyphicon {{runMode?'glyphicon-edit':'glyphicon-play'}}"></span>
                        {{runMode ? 'Design Mode' : 'Run Mode'}}
                    </button>
                    <span class="btn-group btn-group-sm">
                        <button class="btn btn-primary" ng-disabled="colspan == 2" ng-click="colspan = colspan - 1 "><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-info" ng-disabled="colspan == 6" ng-click="colspan = colspan + 1 "><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </span>
                    <br /><br />
                    <span ng-show="!runMode" class="ngngrid-animate-show">
                        <select class="form-control" ng-model="c" ng-options="o.DisplayName  for o in  columnDefs  track by o.Name" ng-change="" required ng-disabled="runMode">
                            <option value="">Select Column</option>
                        </select>


                        <h3>
                            <span class="label label-info">{{c.DisplayName}}</span>
                        </h3>

                        <accordion close-others="false" ng-init="open= true">
                            <accordion-group ng-repeat="(key,value) in c" ng-if="key != 'ngNgridDropdownFilteredObjects' && key != 'isNgNgridDropdownOpen'" is-open="open">
                                <accordion-heading>
                                    {{key}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
                                </accordion-heading>
                                <textarea rows="4" class="form-control" ng-model="value" ng-change="applyChange(c,key,value)"></textarea>
                            </accordion-group>

                        </accordion>
                    </span>

                    <span ng-repeat="childColDef in childColDefs" ng-show="!runMode" class="ngngrid-animate-show">
                        <select class="form-control" ng-model="childCol" ng-options="o.DisplayName  for o in  childColDef  track by o.Name" ng-change="" required ng-disabled="runMode">
                            <option value="">Select Child Column {{$index}}</option>
                        </select>
                        <h3>
                            <span class="label label-info">{{childCol.DisplayName}}</span>
                        </h3>

                        <accordion close-others="false" ng-init="open= true">
                            <accordion-group ng-repeat="(key,value) in childCol" ng-if="key != 'ngNgridDropdownFilteredObjects' && key != 'isNgNgridDropdownOpen'" is-open="open">
                                <accordion-heading>
                                    {{key}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
                                </accordion-heading>
                                <div class="panel-body">
                                    <textarea class="form-control" ng-model="value" ng-change="applyChange(childCol,key,value)"></textarea>
                                </div>
                            </accordion-group>

                        </accordion>
                    </span>



                </div>
                <div class="col-md-{{12-colspan}}">

                    <ng-ngrid rows="data"
                              column-definitions="columnDefs"
                              child-columndefinitions="childColDefs"
                              child-propertynames="['Children1','Children2']"
                              rows-loading="loadingRecords"
                              rows-loading-text="Loading records have patience"
                              >
                    </ng-ngrid>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
        function formatMessage(message) {
            return '[' + new Date() + '] ' + message;
        };

        function logDebug(message) {
            console.log(formatMessage(message));
        };

        function logInfo(message) {
            console.info(formatMessage(message));
        };

        function logWarn(message) {
            console.warn(formatMessage(message));
        }
        function logError(message) {
            console.error(formatMessage(message));
        }

        function formatJson(jsonObject) {
            return JSON.stringify(jsonObject, null, 4)
        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./Modules/ng-ngrid.js"></script>
    <script src="./Controllers/homeController.js"></script>
</body>
</html>


