<!--/*
 * ng-ngrid
 * https://github.com/nikhilogic/ngNGrid

 * Version: 1.2
 * License: MIT
 */-->
<div ng-style="getStyle()">
    <nav id="ngGridToolbar" class="navbar-form navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-left">
                <span class="btn-toolbar">
                    <span class="btn-group">
                        <label class="btn btn-default" btn-checkbox ng-model="showSettings" data-toggle="tooltip" data-placement="right" title="Show/Hide Settings">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span ng-class="showSettings?'ngngrid-caret-left':'ngngrid-caret-right'"></span>
                        </label>
                    </span>
                    <span class="btn-group ngngrid-animate-show" ng-show="showSettings">
                        <label class="btn btn-default" btn-checkbox ng-model="showRowNumbers" data-toggle="tooltip" data-placement="right" title="Show/Hide Row Numbers">
                            <span class="glyphicon" ng-class="showRowNumbers?'glyphicon-check':'glyphicon-unchecked'"></span> Row #
                        </label>
                        <label class="btn btn-default" btn-checkbox ng-model="showRowSelector" data-toggle="tooltip" data-placement="right" title="Show/Hide Row Selector">
                            <span class="glyphicon" ng-class="showRowSelector?'glyphicon-check':'glyphicon-unchecked'"></span> Selectable Rows
                        </label>
                        <label class="btn btn-default" btn-checkbox ng-model="showChildrenCount" data-toggle="tooltip" data-placement="right" title="Show/Hide Children Count">
                            <span class="glyphicon" ng-class="showChildrenCount?'glyphicon-check':'glyphicon-unchecked'"></span> Child Record Count
                        </label>
                    </span>
                    <input id="fileUploadJson" type="file" accept=".json" onchange="angular.element(this).scope().on_fileUpload(this)" style="display:none" />
                    <span class="btn-group ngngrid-animate-show" ng-show="showSettings">
                        <label class="btn btn-primary" ng-click="importFromJson()" data-toggle="tooltip" data-placement="right" title="Import grid rows from json file">
                            Import <span class="glyphicon glyphicon-import"></span>
                        </label>
                        <label class="btn btn-primary" ng-disabled="!isAnyRowSelected()" ng-click="exportSelectedToJson()" data-toggle="tooltip" data-placement="right" title="Export selected rows to json file">
                            Export Selected <span class="glyphicon glyphicon-export"></span>
                        </label>
                    </span>
                    <span class="btn-group">
                        <label class="btn btn-default" ng-click="clearAllFilters()" ng-disabled="!anyFiltersExist()" data-toggle="tooltip" data-placement="right" title="Clear All Filters">
                            Clear all <span class="glyphicon glyphicon-filter"></span>
                        </label>
                    </span>

                </span>
            </div>
            <div class="navbar-right">
                <span class="btn-group">
                    <label class="btn" onmouseover="" style="cursor:default"><b>{{gridCurrentPage}}</b>-<b>{{gridTotalPages()}}</b> of <b>{{rows.length}}</b></label>
                    <pagination class="pagination" onmouseover="" style="cursor: pointer;margin:0" boundary-links="true" total-items="rows.length" ng-model="gridCurrentPage" items-per-page="gridPageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" rotate=""></pagination>

                </span>
                <span class="input-group" style="margin-top:-6px" data-toggle="tooltip" data-placement="right" title="Records per Page">
                    <span class="input-group-addon">
                        <b>Records</b> / <b>Page</b>
                    </span>
                    <select class="form-control" ng-model="gridPageSize" ng-options="number for number in pageSizeOptions"></select>
                </span>
            </div>
        </div>
    </nav>
    <div class="ngngrid-scroll" ng-style="setGridTableStyle()">
        <table id="ngGridTable" class="table table-condensed table-bordered table-striped">
            <tr>
                <th ng-if="childColumndefinitions.length > 0" class="bg-primary"></th>
                <th ng-show="showRowNumbers" class="bg-primary">#</th>
                <th ng-show="showRowSelector" ng-click="toggleRowsSelect()" style="cursor:pointer" data-toggle="tooltip" title="Select/Unselect All" class="bg-primary">
                    <span class="glyphicon" ng-class="allRowsSelected ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
                </th>
                <th ng-repeat="c in columnDefinitions" ng-hide="c.isNgNgridColumnHide" class="bg-primary">
                    <span ng-click="changeSort(c)" style="cursor:pointer">
                        {{c.DisplayName}}
                        <span ng-show="isSorted(c)" class="glyphicon" ng-class="gridSortOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span>
                    </span>
                </th>
            </tr>
            <tr>
                <th ng-if="childColumndefinitions.length > 0"></th>
                <th ng-show="showRowNumbers"></th>
                <th ng-show="showRowSelector"></th>
                <th ng-repeat="c in columnDefinitions" ng-hide="c.isNgNgridColumnHide">
                    <div ng-hide="c.DisableFilter" class="input-group input-group-sm dropdown" dropdown auto-close="outsideClick" is-open="c.isNgNgridDropdownOpen" on-toggle="ondropDownToggle(c,'ngNgridDropdownFilter' + $index)" style="width:100%" ng-init="filterPageSize=15;filterCurrentPage=1">

                        <span class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="dropDownFilterInput" ng-init="dropDownFilterInput=''" ng-focus="c.isNgNgridDropdownOpen=true" id="ngNgridDropdownFilter{{$index}}" ng-keypress="dropdownFilterKeyPress($event,c)" />
                            <span class="input-group-btn">
                                <button type="button" dropdown-toggle class="btn dropdown-toggle" ng-class="isColFilterApplied(c.Name) ? 'btn-primary':'btn-default'">
                                    <span class="glyphicon glyphicon-filter"></span>
                                </button>
                            </span>
                        </span>
                        <ul class="dropdown-menu" ng-class="$index==columnDefinitions.length-1 ? 'dropdown-menu-right' :''" role="menu" style="overflow-y:auto;max-height:500px;width:auto;overflow-x:auto">
                            <li class="ngngrid-dropdown"><small class="text-muted">*Type & hit Enter to apply filters</small></li>
                            <li class="divider"></li>
                            <li class="ngngrid-dropdown" ng-if="c.ColumnType=='ngNGridDate'">
                                <span class="input-group" style="padding-bottom:5px">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-muted"></span></span>
                                    <input type="date" class="form-control" datepicker-popup ng-model="ngNgridStartDate" is-open="datepickerstartopen" date-disabled="false" ng-required="true" close-text="Close" datepicker-append-to-body="true" ng-click="datepickerstartopen=true" placeholder="From" ng-change="updateRangeFilter(c,ngNgridStartDate,ngNgridEndDate)" />
                                </span>
                                <span class="input-group">
                                    <span class="input-group-addon">
                                        <span class="text-muted glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input type="date" class="form-control" datepicker-popup ng-model="ngNgridEndDate" is-open="datepickerendopen" date-disabled="false" ng-required="true" close-text="Close" datepicker-append-to-body="true" ng-click="datepickerendopen=true" placeholder="To" ng-change="updateRangeFilter(c,ngNgridStartDate,ngNgridEndDate)" />
                                </span>
                            </li>
                            <li class="ngngrid-dropdown" ng-if="c.ColumnType=='ngNGridNumber'">
                                <span class="input-group" style="padding-bottom:5px">
                                    <span class="input-group-addon">
                                        #
                                    </span>
                                    <input type="number" class="form-control" ng-model="ngNgridStartNumber" ng-required="true" placeholder="From" ng-change="updateRangeFilter(c,ngNgridStartNumber,ngNgridEndNumber,true)" />
                                </span>
                                <span class="input-group">
                                    <span class="input-group-addon">
                                        #
                                    </span>
                                    <input type="number" class="form-control" ng-model="ngNgridEndNumber" ng-required="true" placeholder="To" ng-change="updateRangeFilter(c,ngNgridStartNumber,ngNgridEndNumber,true)" />
                                </span>
                            </li>
                            <li ng-if="c.ColumnType=='ngNGridDate' || c.ColumnType=='ngNGridNumber'" class="divider"></li>
                            <div class="btn-group">
                                <label class="btn" onmouseover="" style="cursor:default">
                                    <b>{{filterCurrentPage}}</b>-<b>{{totalPages(c.ngNgridDropdownFilteredObjects.length,filterPageSize)}}</b> of <b>{{c.ngNgridDropdownFilteredObjects.length}}</b>
                                </label>
                                <pagination class="pagination" onmouseover="" style="cursor: pointer;margin:0" boundary-links="true" total-items="c.ngNgridDropdownFilteredObjects.length" ng-model="filterCurrentPage" items-per-page="filterPageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="0" rotate=""></pagination>
                            </div>
                            <li class="divider"></li>
                            <li class="ngngrid-dropdown">
                                <span class="input-group input-group-sm" style="cursor: pointer" ng-click="toggleColFilters(c);$event.stopPropagation()">
                                    <span class="glyphicon" ng-class="isColFilterApplied(c.Name)?'glyphicon-check':'glyphicon-unchecked'"></span>
                                    <span>Select/Unselect All</span>
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li class="ngngrid-dropdown" ng-repeat="distinctObj in (c.ngNgridDropdownFilteredObjects = (distinctColValues[c.Name] | filter:{DisplayValue:dropDownFilterInput}:false)) | orderBy:false | limitTo:filterPageSize : (filterCurrentPage-1)*filterPageSize" ng-click="addColumnFilters(c.Name,[distinctObj.DistinctValue]);$event.stopPropagation()" style="cursor: pointer">
                                <span class="glyphicon" ng-class="isColFiltered(c.Name,distinctObj.DistinctValue)?'glyphicon-check':'glyphicon-unchecked'"></span>
                                <small style="font-weight:normal">
                                    <span ng-class="c.FilterClassFn(distinctObj)" style="margin-right:2px">
                                        {{(distinctObj.DisplayValue != null && distinctObj.DisplayValue.toString() != '') ? distinctObj.DisplayValue : '(Blanks)'}}
                                        <span ng-if="c.FilterGlyphFn" class="glyphicon" ng-class="c.FilterGlyphFn(distinctObj)"></span>
                                    </span>
                                    <span class="text-muted">({{distinctObj.DistinctCount}})</span>
                                </small>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
            <tr ng-repeat-start="row in (gridFilteredRows =  (rows | orderBy:gridSortColumn:gridSortOrder | filter:canShowRecord)) | limitTo : gridPageSize : (gridCurrentPage-1)*gridPageSize" style="border-bottom: none" ng-class="{'ngngrid-animaterow':row.isNgNgridUpdated,'info':row.isNgNgridSelected,'warning':row.isNgNgridDirty}">
                <td ng-if="childColumndefinitions.length > 0">
                    <span ng-click="row.isNgNgridOpen = !row.isNgNgridOpen" ng-disabled="childRowsCount(row) <= 0" data-toggle="tooltip" title="{{row.isNgNgridOpen?'Collapse Details':'Expand Details'}}" style="cursor:pointer">
                        <span class="glyphicon" ng-class="row.isNgNgridOpen?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                        <sub ng-show="showChildrenCount">{{childRowsCount(row)}}</sub>
                    </span>
                </td>
                <td ng-show="showRowNumbers">{{(gridCurrentPage-1)*gridPageSize + $index+1}}</td>
                <td ng-show="showRowSelector" ng-click="row.isNgNgridSelected = !row.isNgNgridSelected" style="cursor:pointer" data-toggle="tooltip" title="Select/Unselect Row">
                    <span class="glyphicon" ng-class="row.isNgNgridSelected ?  'glyphicon-check': 'glyphicon-unchecked'"></span>
                </td>
                <td ng-repeat="c in columnDefinitions" ng-class="c.CellClassFn(row)" ng-hide="c.isNgNgridColumnHide">
                    <span ng-show="$index ==0 && row.isNgNgridDirty" class='glyphicon glyphicon-edit'></span>
                    <span ng-switch="c.ColumnType">
                        <label ng-switch-when="ngNGridLabel" class="label {{c.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{c.TooltipFn(row)}}">
                            <span ng-if="c.GlyphFn" class="glyphicon {{c.GlyphFn(row)}}"></span>
                            {{c.TextFn ?  c.TextFn(row) :  getColValue(c,row)}}
                            <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                        </label>
                        <button ng-switch-when="ngNGridButton" ng-disabled="c.DisabledFn(row)" class="btn  btn-xs  {{c.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{c.TooltipFn(row)}}" ng-click="c.ClickFn(row)">
                            <span ng-if="c.GlyphFn" class="glyphicon  {{c.GlyphFn(row)}}"></span>
                            {{c.TextFn ?  c.TextFn(row) :  getColValue(c,row)}}
                            <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                        </button>
                        <span ng-switch-when="ngNGridDate" ng-class="c.ClassFn ? c.ClassFn(row) : ''">
                            <span ng-if="c.GlyphFn" class="glyphicon  {{c.GlyphFn(row)}}"></span>
                            {{c.TextFn ?  c.TextFn(row) :  getColValue(c,row)|date:c.DateFormatFn(row)}}
                            <span ng-show="c.BadgeFn" class="badge">{{c.BadgeFn(row)}}</span>
                        </span>
                        <span ng-switch-when="ngNGridSelect" class="input-group" ng-init="newSelectVal = getColValue(c,row)">
                            <span ng-show="c.ClassFn" class="input-group-addon" ng-class="c.ClassFn(row)">
                                <span ng-if="c.GlyphFn" class="glyphicon" ng-class="c.GlyphFn(row)"></span>
                            </span>
                            <select ng-if="c.SelectValue != null" class="form-control" ng-model="newSelectVal" ng-options="o[c.SelectValue]  for o in  c.SelectFn(row)  track by o[c.SelectKey]" ng-change="row.isNgNgridDirty=true;setColValue(c,row,newSelectVal)" required>
                                <option value="">Select</option>
                            </select>
                            <select ng-if="c.SelectValue == null" class="form-control" ng-model="newSelectVal" ng-options="o  for o in  c.SelectFn(row)  track by o" ng-change="row.isNgNgridDirty=true;setColValue(c,row,newSelectVal)" required>
                                <option value="">Select</option>
                            </select>
                        </span>
                        <a ng-switch-when="ngNGridLink" href="{{c.UrlFn(row)}}" target="{{c.TargetFn ? c.TargetFn(row):'_blank'}}" ng-class="c.ClassFn(row)">
                            <span ng-if="c.GlyphFn" class="glyphicon  {{c.GlyphFn(row)}}"></span>
                            {{c.TextFn ?  c.TextFn(row) :  getColValue(c,row)}}
                            <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                        </a>
                        <span ng-switch-when="ngNGridInput" class="input-group">
                            <span ng-if="c.GlyphFn" class="input-group-addon" ng-class="c.ClassFn(row)">
                                <span class="glyphicon" ng-class="c.GlyphFn(row)"></span>
                            </span>
                            <input class="form-control" ng-init="newInputVal = getColValue(c,row)" ng-model="newInputVal" ng-readonly="c.DisabledFn(row)" ng-change="row.isNgNgridDirty=true;setColValue(c,row,newInputVal)" placeholder="{{c.NullOrEmptyFn(row)}}" type="{{c.InputTypeFn(row)}}" />
                        </span>
                        <span ng-switch-default ng-class="c.ClassFn ? c.ClassFn(row) : ''">
                            <span ng-if="c.GlyphFn" class="glyphicon {{c.GlyphFn(row)}}"></span>
                            {{c.TextFn ?  c.TextFn(row) :  getColValue(c,row)}}
                            <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                        </span>
                        <img ng-if="c.ImgFn" ng-class="c.ImgClassFn(row)" ng-src="c.ImgFn(row)" />
                    </span>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="row.isNgNgridOpen" ng-class="{'ngngrid-animaterow':row.isNgNgridUpdated,'info':row.isNgNgridSelected,'warning':row.isNgNgridDirty}">
                <td></td>
                <td ng-show="showRowNumbers"></td>
                <td ng-show="showRowSelector"></td>
                <td colspan="{{columnDefinitions.length}}">
                    <table class="table table-condensed table-bordered table-striped" ng-repeat="childColDef in childColumndefinitions">
                        <tr>
                            <th ng-repeat="childCol in childColDef">
                                <span ng-click="changeChildSort(childCol)" style="cursor:pointer">
                                    {{childCol.DisplayName}}
                                    <span ng-show="isChildSorted(childCol)" class="glyphicon" ng-class="gridChildrenSortOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span>
                                </span>
                            </th>
                        </tr>
                        <tr ng-repeat="childRow in getChildRows(row,childPropertynames[$index]) | orderBy:gridChildrenSortColumn:gridChildrenSortOrder" ng-class="{'ngngrid-animaterow':childRow.isNgNgridUpdated,'info':childRow.isNgNgridSelected,'warning':childRow.isNgNgridDirty}">
                            <td ng-repeat="childCol in childColDef" ng-class="childCol.CellClassFn(childRow)">
                                <span ng-show="$index ==0 && childRow.isNgNgridDirty" class='glyphicon glyphicon-edit'></span>
                                <span ng-switch="childCol.ColumnType">
                                    <label ng-switch-when="ngNGridLabel" class="label label-xs {{childCol.ClassFn(childRow)}}" data-toggle="tooltip" data-placement="right" title="{{childCol.TooltipFn(childRow)}}">
                                        <span ng-if="childCol.GlyphFn" class="glyphicon {{childCol.GlyphFn(childRow)}}"></span>
                                        {{childCol.TextFn ?  childCol.TextFn(childRow) :  getColValue(childCol,childRow)}}
                                        <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                    </label>
                                    <button ng-switch-when="ngNGridButton" ng-disabled="childCol.DisabledFn(childRow)" class="btn  btn-xs  {{childCol.ClassFn(childRow)}}" data-toggle="tooltip" data-placement="right" title="{{childCol.TooltipFn(childRow)}}" ng-click="childCol.ClickFn(childRow)">
                                        <span ng-if="childCol.GlyphFn" class="glyphicon  {{childCol.GlyphFn(childRow)}}"></span>
                                        {{childCol.TextFn ?  childCol.TextFn(childRow) :  getColValue(childCol,childRow)}}
                                        <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                    </button>
                                    <span ng-switch-when="ngNGridDate" ng-class="childCol.ClassFn ? childCol.ClassFn(childRow) : ''">
                                        <span ng-if="childCol.GlyphFn" class="glyphicon  {{childCol.GlyphFn(childRow)}}"></span>
                                        {{childCol.TextFn ?  childCol.TextFn(childRow) :  getColValue(childCol,childRow)|date:childCol.DateFormatFn(childRow)}}
                                        <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                    </span>
                                    <span ng-switch-when="ngNGridSelect" class="input-group" ng-init="newSelectVal = getColValue(childCol,childRow)">
                                        <span ng-show="childCol.ClassFn" class="input-group-addon" ng-class="childCol.ClassFn(childRow)">
                                            <span ng-if="childCol.GlyphFn" class="glyphicon" ng-class="childCol.GlyphFn(childRow)"></span>
                                        </span>
                                        <select ng-if="childCol.SelectValue != null" name="status" ng-disabled="childCol.DisabledFn(childRow)" class="form-control" ng-model="newSelectVal" ng-options="o[childCol.SelectValue]  for o in  childCol.SelectFn(childRow)  track by o[childCol.SelectKey]" ng-change="childRow.isNgNgridDirty=true;setColValue(childCol,childRow,newSelectVal)" required>
                                            <option value="">Select</option>
                                        </select>
                                        <select ng-if="childCol.SelectValue == null" name="status" ng-disabled="childCol.DisabledFn(childRow)" class="form-control" ng-model="newSelectVal" ng-options="o  for o in  childCol.SelectFn(childRow)  track by o" ng-change="childRow.isNgNgridDirty=true;setColValue(childCol,childRow,newSelectVal)" required>
                                            <option value="">Select</option>
                                        </select>
                                    </span>
                                    <a ng-switch-when="ngNGridLink" href="{{childCol.UrlFn(childRow)}}" target="_blank">
                                        <span ng-if="childCol.GlyphFn" class="glyphicon  {{childCol.GlyphFn(childRow)}}"></span>
                                        {{childCol.TextFn ?  childCol.TextFn(childRow) :  getColValue(childCol,childRow)}}
                                        <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                    </a>
                                    <span ng-switch-when="ngNGridInput" class="input-group">
                                        <span ng-if="childCol.GlyphFn" class="input-group-addon" ng-class="childCol.ClassFn(row)">
                                            <span class="glyphicon" ng-class="childCol.GlyphFn(row)"></span>
                                        </span>
                                        <input ng-init="newInputVal = getColValue(childCol,childRow)" class="form-control" ng-model="newInputVal" ng-readonly="childCol.DisabledFn(childRow)" ng-change="childRow.isNgNgridDirty=true;setColValue(childCol,childRow,newInputVal)" placeholder="{{childCol.NullOrEmptyFn(childRow)}}" type="{{childCol.InputTypeFn(childRow)}}" />
                                    </span>
                                    <span ng-switch-default ng-class="childCol.ClassFn ? childCol.ClassFn(childRow) : ''">
                                        {{childCol.TextFn ?  childCol.TextFn(childRow) :  getColValue(childCol,childRow)}}
                                        <span ng-if="childCol.GlyphFn" class="glyphicon {{childCol.GlyphFn(childRow)}}"></></span>
                                        <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-condensed table-bordered table-striped" ng-if="rowFooterdefinitions.length > 0">
                        <tr ng-repeat="rowFooter in rowFooterdefinitions">
                            <td ng-repeat="footerItem in rowFooter">
                                <span ng-switch="footerItem.ColumnType">
                                    <span ng-switch-when="ngNGridButton">
                                        <span class="btn-group">
                                            <button class="btn {{footerItem.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{footerItem.TooltipFn(row)}}" ng-click="footerItem.ClickFn(row)" ng-disabled="footerItem.DisabledFn(row)">
                                                <span ng-if="footerItem.GlyphFn" class="glyphicon {{footerItem.GlyphFn(row)}}"></span>
                                                <span ng-show="footerItem.BadgeFn" class="badge" ng-class="footerItem.BadgeClass">{{footerItem.BadgeFn(row)}}</span>
                                                {{footerItem.TextFn(row)}}
                                            </button>
                                        </span>
                                    </span>
                                    <span ng-switch-when="ngNGridLabel">
                                        <span class="label label-xs {{footerItem.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{footerItem.TooltipFn(row)}}">
                                            <span ng-if="footerItem.GlyphFn" class="glyphicon {{footerItem.GlyphFn(row)}}"></span>
                                            <span ng-show="rowFooter.BadgeFn" class="badge" ng-class="footerItem.BadgeClass">{{footerItem.BadgeFn(row)}}</span>
                                            {{footerItem.TextFn(row)}}
                                        </span>
                                    </span>
                                    <span ng-switch-default ng-class="footerItem.ClassFn(row)">
                                        {{footerItem.TextFn(row)}}
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <progressbar ng-show="rowsLoading" class="active progress-striped" value="100" type="primary">
            <b><i>{{rowsLoadingText}}</i></b>
        </progressbar>
    </div>
</div>
